<div class="container">
    <div class="notification is-primary">

        <div class="columns">
            <div class="column" id="mainColumn">

                <h1>Burgers</h1>
                <br>
                <i class="fas fa-hamburger"></i>
                <br>

                <div class="columns">
                    <div class="column EatColumn">

                        <h2> Burgers to EAT! </h2>
                        <hr>
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <li>
                                {{burger_name}}
                                <button class="devourButton button" data-id="{{id}}">EAT IT!</button>
                            </li>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column EatColumn">
                        <h2> Burgers You've Eaten </h2>
                        <hr>
                        <ul>
                            {{#each burgers }}
                            {{#if devoured}}
                            <li>
                                {{burger_name}}
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <br>
                <div class="columns">
                    <div class="column" id= "addBurger">

                        <h2>Add a Burger</h2>
                        <div class="field">
                            <form class="create-form">

                                <div class="form-group">
                                    <label for="burgerName">Burger Name:</label>
                                    <input class="input" type="text" id="burgerName" name="name">
                                    <button class="button" type="submit">Create Burger</button>
                                </div>

                        </div>
                    </div>


                    </form>
                </div>
            </div>

        </div>

    </div>
</div>